@model PagedList.IPagedList<HSNHospitalProject.Models.JobPost>

@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New Job Post", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Experience
        </th>
        <th>
            Salary
        </th>
        <th>
            Posted Date
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobPostPostedDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.jobPostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.jobPostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.jobPostId })
            </td>
        </tr>
    }
</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
</div>
