@model List<HSNHospitalProject.Models.Faq>
@{
    ViewBag.Title = "DetailsUser";
}

<div style="margin-top:3em;margin-left:3em;">
    <h4 style="font-weight:bold;text-align:center">List of Frequently Asked Questions</h4>

    <!--helps in navigating to next page because it can only display 3 details on one page-->
    <div class="paginate">
        @{
            <a href="/Faq/DetailsUser?pagenum=@((int)ViewData["pagenum"]-1)&faqsearchkey=@ViewData["faqsearchkey"]" class="btn btn-info">Prev</a>
            @ViewData["pagesummary"]
            <a href="/Faq/DetailsUser?pagenum=@((int)ViewData["pagenum"]+1)&faqsearchkey=@ViewData["faqsearchkey"]" style="margin-left:70em" class="btn btn-info">Next</a>
        }
    </div>
    <!--The user could search the list based on departments-->
    <!--But right now he can search based on question-->
    <form action="/Faq/DetailsUser" method="GET" style="margin-top:2em;margin-left:15em">
        <label for="searchkey" style="color:red">Please enter the question You want to search..</label>
        <input type="text" name="faqsearchkey" id="faqsearchkey" />
        <input type="submit" value="Search" class="btn btn-info" />
    </form>
    <!--Displaying the data in a table format-->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">Department</th>
            

            </tr>
        </thead>
        <tbody style="top:2em;">
            @{
                foreach (var faq in Model)
                {
                    <tr>
                        <td>
                            @faq.faqId<!--Faq Id-->
                        </td>
                        <td>
                            @faq.faqQuestion<!--Faq question-->
                        </td>
                        <td>
                            @faq.faqAnswer<!--Faq Answer-->
                        </td>
                        <td>
                            @faq.Departments.departmentName<!--department name-->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


